* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    height: 70px;
    background-color: #ADD8E6;
    padding: 25px 20%;
}

.head-box{
    background-color: #DAA520;
    display: flex;
    justify-content: center;
}

.logo {
    width: 20%;
    padding: .1rem .5rem;
}

nav {
    width: 100%;
}

.login {
    width: 20%;
    text-align: right;
    padding: .1rem .5rem;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    padding: .1rem .5rem;
}

a {
    color: black;
    text-decoration: none;
}

/* HERO */
.hero-box {
    width: 100%;
    background-color: #00008B;
    padding: 30px 0;
}

.hero{
    height: 250px;
    width: 40%;
    background-color: #EE82EE;
    margin: 0 auto;
}

.article-box {
    display: flex;
    padding: 30px 20%;
}

article {
    background-color: #1E90FF;
    height: 300px;
    width: 60%;
}

aside{
    background-color: #FFC0CB;
    height: 300px;
    width: 40%;
}

.bg-gray {
    background-color: #D3D3D3;
}

.green-rect {
    height: 600px;
    width: 800px;
    background-color: #228B22;
}

.col-container {
    background-color: #23272A;
    display: flex;
    justify-content: center;
}

.col-pink {
    background-color: #F08080;
    width: 200px;
    height: 600px;
}

.col {
    background-color: #20B2AA;
    width: 150px;
    height: 600px;
}

footer {
    margin: 1px 0;
    height: 70px;
    background-color: #23272A;
    padding: 0 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-box {
    height: 90%;
    width: 100%;
    background-color: #7FFFD4;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button {
    background-color: #FFB6C1;
}

/* styles */

.border {
    border: 1px dashed black;
}