* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */
:root {
    --bg-header: #ADD8E6;
    --bg-head-box: #DAA520;
    --bg-hero-box: #00008B;
    --bg-hero: #EE82EE;
    --bg-article: #1E90FF;
    --bg-aside: #FFC0CB;
    --bg-gray: #D3D3D3;
    --bg-green-rect: #228B22;
    --bg-col-container: #23272A;
    --bg-col-pink: #F08080;
    --bg-col: #20B2AA;
    --bg-footer: #23272A;
    --bg-footer-box: #7FFFD4;
    --bg-button: #FFB6C1;
}

/* HEADER */
header {
    height: 70px;
    background-color: var(--bg-header);
    padding: 25px 20%;
}

.head-box{
    background-color: var(--bg-head-box);
    display: flex;
    justify-content: center;
}

.logo {
    width: 20%;
    padding: .1rem .5rem;
}

nav {
    width: 100%;
}

.login {
    width: 20%;
    text-align: right;
    padding: .1rem .5rem;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    padding: .1rem .5rem;
}

a {
    color: black;
    text-decoration: none;
}

/* HERO */
.hero-box {
    width: 100%;
    background-color: var(--bg-hero-box);
    padding: 30px 0;
}

.hero{
    height: 250px;
    width: 40%;
    background-color: var(--bg-hero);
    margin: 0 auto;
}

/* MAIN */
.article-box {
    display: flex;
    padding: 30px 20%;
}

article {
    background-color: var(--bg-article);
    height: 300px;
    width: 60%;
}

aside{
    background-color: var(--bg-aside);
    height: 300px;
    width: 40%;
}

.bg-gray {
    background-color: var(--bg-gray);
}

.green-rect {
    height: 600px;
    width: 800px;
    background-color: var(--bg-green-rect);
}

.col-container {
    background-color: var(--bg-col-container);
    display: flex;
    justify-content: center;
}

.col-pink {
    background-color: var(--bg-col-pink);
    width: 200px;
    height: 600px;
}

.col {
    background-color: var(--bg-col);
    width: 150px;
    height: 600px;
}

/* FOOTER */
footer {
    margin: 1px 0;
    height: 70px;
    background-color: var(--bg-footer);
    padding: 0 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-box {
    height: 90%;
    width: 100%;
    background-color: var(--bg-footer-box);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button {
    background-color: var(--bg-button);
}

/* styles */

.border {
    border: 1px dashed black;
}